<div class="container">
  <div class="row">
      {{#each articles}}
    <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-1/p200x200/11215763_898618170176318_6115666623585994684_n.png?oh=627212ca8b40e324ce70cfb61eec1cb7&oe=597A5810" class="img-responsive">
                    <span class="post-title"><h2>{{title}}</h2><br></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>{{createdBy}}</b> |
                        <time datetime="2014-01-20">{{formatTime createdAt "MM-DD-YYYY"}}</time>
                        <span class="pull-right"><b>Views:</b>{{views}}</span>
                    </div>
                    <div>
                        {{content}}
                    </div>
                    <div>
                        <a href="/article/details/{{this.id}}" class="btn btn-warning btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
  </div>
</div>
